Welcome to {{ appName }}, {{ name }}!

Your account has been successfully created with the email address: {{ email }}.

To verify your account, please use this verification code:

{{ code }}

This code will expire in {{ expiresIn }} minutes.

If you did not create this account, please ignore this email.

Best regards,
The {{ appName }} Team
